<div class="ui-fieldset-custom">
  <p-fieldset>

    <p-header>Inicio de Session</p-header>

    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText />
      <label for="float-input">Username</label>
    </span>
    <br/>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText style="margin-top: auto;" />
      <label for="float-input">Password</label>
    </span>
    <br />
    <p-button label="Inicio" routerLink="/inicio" routerLinkActive="active" ></p-button>

  </p-fieldset>
</div>
